.bg_image{
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  background-image:url('PHOTOS/boats.jpg');
  animation: fadeIn ease 0.8s;
  -webkit-animation: fadeIn ease 0.8s;
  -moz-animation: fadeIn ease 0.8s;
  -o-animation: fadeIn ease 0.8s;
  -ms-animation: fadeIn ease 0.8s;
}

.singlePlayerImage{
  display: inline;
  max-width: 60%;
  max-height: 40%;
  background-position:top center;
  background-repeat: no-repeat;
  background-image:url('PHOTOS/map.png');
  animation: fadeIn ease 0.8s;
  -webkit-animation: fadeIn ease 0.8s;
  -moz-animation: fadeIn ease 0.8s;
  -o-animation: fadeIn ease 0.8s;
  -ms-animation: fadeIn ease 0.8s;
}

.history{
  background-color: rgb(207, 221, 143);
  max-height: 30%;
  max-width: 10%;
  display:inline-flex;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-left: 4%;
}

.fade-in {
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  background-image:url('PHOTOS/boats2.jpg');
  animation: fadeIn ease 0.8s;
  -webkit-animation: fadeIn ease 0.8s;
  -moz-animation: fadeIn ease 0.8s;
  -o-animation: fadeIn ease 0.8s;
  -ms-animation: fadeIn ease 0.8s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }